p {
  font-size: 15px;
  font-family: 'Nunito';
  color: #202224;
}

.failing strong {
  color: #f93c65;
  opacity: 1 !important;
}

.progress-bar.bg-danger {
  border-radius: 15px;
  background-color: #1ade8d !important;
}

.row.caveiras {
  display: flex;
  justify-content: space-around;
}

.progress.mb-4 {
  margin-bottom: 0rem !important;
}

.la.la-minus.palito {
  transform: rotate(90deg);
  font-size: 20px;
  color: #1ade8d;
}

.la.la-minus.palito.fraco {
  color: rgba(26, 222, 141, 0.4);
}

.progress {
  background-color: rgba(26, 222, 141, 0.4);
}

.caveira-preta {
  opacity: 0.4;
}

.status-subtitulo {
  font-family: 'Nunito';
  font-weight: 500;
  color: #202224;
}

.text-dark.mb-0 {
}

.navbar.navbar-light.navbar-expand.bg-white.shadow.mb-4.topbar.static-top {
  margin-bottom: 0 !important;
}

.card-body {
  padding: 0;
}

.shadow-box {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.shadow-box:after {
}

.sucess strong {
  color: #f3c53d;
}

strong {
  color: #1ade8d;
}

.input-cadastro {
  background-color: #f5f6fa;
  border: solid 0.6px #d5d5d5;
  border-radius: 2px;
  padding: 15px;
  width: 100%;
}

.btn.btn-primary.btn-block {
}

.btn.btn-primary.btn-block:hover {
  background-color: white;
}

